.getintoch {
  padding: 80px 0;
}
.getintoch--wrapper {
  font-size: 2.5rem;

  &>*:not(:last-child) {
    margin-bottom: 80px;
  }
}
.getintoch--header {
  text-align: center;
}
.getintoch--contacts {
  display: flex;
  padding: 0 32.5px;
  column-gap: 30px;
}
.contacts {
}
.contacts--body {
  flex: 0 1 33.33333%;
  padding: 50px 40px;
  background: $white;
}

.contacts--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &>*:not(:last-child) {
    margin-bottom: 15px;
  }
}
.contacts--image {
  width: 72px;
  height: 72px;
}
.contacts--image svg {
  width: 100%;
  height: 100%;
}
.contacts--link {
  @include fontSWCL (0.35em, 600, $darkBlue, 1.714);
}
.contacts--request {
}
.contacts--title {
  @include fontSWCL (0.4em, 700, $darkBlue, 1.5);
}
.contacts-button {
  border: 1px solid $orange;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 20px;
  background: transparent;
  @include fontSWCL (0.35em, 600, $orange, 1.714);
  cursor: pointer;

  &:hover {
    background: $orange;
  }
}

// .contacts-buttons-hover {
//   background: $orange;
// }

@media only screen and (min-width: 1100px) {
  .contacts--body {
    transition: all 275ms ease-out;

    &:hover {
      background: $darkBlue;
      transform: scale(120%);

      .contacts--icon path{
        fill: #fff;
      }

      .contacts--link {
        color: #fff;
      }

      .contacts--title {
        color: #fff;
      }

      .contacts-button{
        background: $orange;
        color: #fff;
      }

    } 
  }

  .contacts--request {
    .contacts-button:hover {
      background: darken($orange, 4%);
    }
  }
}

@media only screen and (max-width: 1100px) {

  .getintoch {
    padding: 40px 0 80px 0;
  }

  .getintoch--contacts {
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .getintoch--wrapper > *:not(:last-child) {
    margin: 50px 0 50px 0;
  }

  .contacts--body {
    flex: 1 1 auto;
  }

  .contacts-button {

    &:hover {
      color: #fff;
      background: $orange;
    }
  }
}

@media only screen and (max-width: 992px) {
  .contacts--image {
    width: 56px;
    height: 56px;
  }
}

@media only screen and (max-width: 400px) {
  .getintoch--contacts {
    padding: 0;
  }

  .contacts--body {
    padding: 50px 30px;
  }
}