// Colors
$darkBlue: #252B42;

$lightGrey: #737373;
$lightGreyH: #494949;

$white: #fff;
$greyWhite: #FAFAFA;

$greenBlue: #0D5C63;

$orange: #FF7B47;

// Font-family
$Montserrat: Montserrat;

// Font-weight

$w400: 400;
$w500: 500;
$w600: 600;
$w700: 700;
$w800: 800;